.Bannersection_web {
  width: 100%;
  height: 100vh;
  background-image: url('../img/SMMBG.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  inset: 0;
}