.maincontainer{
  background-color: #1D1D1D;
}


.Bannersection_web {
  width: 100%;
  height: 100vh;
  background-image: url('../img/AboutBG.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  inset: 0;
}
.newVision{
  margin-top: 10px;
}